## Deployer account
DEPLOYER_PRIVATE_KEY=

## Factory configuration
DEPLOY_FACTORY_SALT=

# Contract addresses (will be populated after deployment)
SMART_WALLET_FACTORY=
SMART_WALLET=

# Owners
USER_WALLET=
PASSKEY_PRIVATE_KEY=
PASSKEY_PUB_X=
PASSKEY_PUB_Y=

# Passkey2
PASSKEY_PRIVATE_KEY_2=
PASSKEY_PUB_X_2=
PASSKEY_PUB_Y_2=
