# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
memories/
.obsidian/

# Dotenv file
.env

# Foundry files
lib
broadcast
lcov.info
coverage_report

# Hardhat files
artifacts
cache
cache_hardhat
typechain-types

#node Module
node_modules

# .env
.env

# VS Code settings
.vscode/
.claude/

# Wake framework
.wake/
